:root {
  --mainColor: #1abc9c;
  --secondColor: gray;
  --xsmallFont: 20px;
  --smallFont: 25px;
  --mediumFont: 30px;
  --largeFont: 35px;
  --xlargeFont: 50px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  overflow-x: hidden;
  /* background-color: gray; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.display-none {display: none}
.display-flex {display: flex}
.display-flex-col {
  display: flex;
  flex-direction: column;
}

.flex-hcenter {justify-content: center;}
.flex-vcenter {align-items: center;}

.flex-even {
  justify-content: space-evenly;
}

.xsmall-font {font-size: var(--xsmallFont);}
.small-font {font-size: var(--smallFont)}
.medium-font {font-size: var(--mediumFont)}
.large-font {font-size: var(--largeFont)}
.xlarge-font {font-size: var(--xlargeFont);}

.font-bold {font-weight: bold;}

.font-color-white {color: white;}
.font-color-second {color: var(--secondColor);}

.bg-color-main {background-color: var(--mainColor);}

.vw-35 {width: 35vw;}
.vw-40 {width: 40vw;}
.vw-50 {width: 50vw;}

.v100 {width: 100%;}

.m-10 {margin: 10px;}
.m-20 {margin: 20px;}
.m-30 {margin: 30px;}
.m-50 {margin: 50px;}

.mb-50 {margin-bottom: 50px;}

.below-navBar {
  margin-top: 100px;
}

.border {
  border: 1px solid black;
}

.submit-button {
  width: 25%;
  height: 40px;
  font-size: var(--smallFont);
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
}


/* -------------below-------------  Components --------------below-------------------- */


/* -------------below-------------- Navbar --------------below-------------------- */

.navbar-container {
  display: flex;
  justify-content: space-between;
  z-index: 99999999;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: var(--smallFont);

  background: rgba(0, 0, 0, 0.21);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.71) 0%, rgba(231, 56, 39, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.21)), color-stop(100%, rgba(231, 56, 39, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.71) 0%, rgba(231, 56, 39, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.10) 0%, rgba(231, 56, 39, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.71) 0%, rgba(231, 56, 39, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.51) 0%, rgba(231, 56, 39, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#e73827', GradientType=0);
}

.navbar-logo {
  width: 70%;
  padding: 20px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: var(--mediumFont);
  margin-right: 3rem;
}
.navbar-right > div {
  margin-right: 1rem;
  margin-left: 2rem;
}

.navbar-location-container {
  position: relative;
  padding-bottom: 5px;
}

.navbar-locations-container {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.301);
  width: 100%;
  top: 100%;
  left: 0;
}

.navbar-location-options {padding: 10px;}
.navbar-location-options:hover {
  color: var(--mainColor);
  background-color:  rgba(0, 0, 0, 0.521);
  padding: 10px;
}

.navbar-hamburger-container {
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;

  width: 20px;
  height: 25px;
}
.navbar-hamburger-line {
  border-bottom: 3px solid white;
}

/* -------------above-------------- Navbar --------------above-------------------- */



/* -------------below-------------- Contact Us --------------below-------------------- */
.contact-container {
  display: flex;
  flex-direction: column;
  width: 39vw;
  padding: 1vw;
}

.contact-name-fields {
  display: flex;
  justify-content: space-between;
}

.contact-input-small {
  width: 45%;
  padding: 10px;

  font-size: var(--smallFont);
  border: 1px solid black;
  border-radius: 5px;
}

.contact-input-large {
  height: 70px;
  resize: vertical;
  padding: 10px;

  border: 1px solid black;
  border-radius: 5px;
  font-size: var(--smallFont);
}

.contact-input {
  margin-top: 5px;
  margin-bottom: 20px;
}
.contact-input:hover {
  border: 2px solid black;
  padding: 9px;
}

.input-label {
  font-size: var(--mediumFont);
  font-weight: bold;
}
/* -------------above-------------- Contact Us --------------above-------------------- */




/* -------------below-------------- Info Drop --------------below-------------------- */
.info-drop-container {
  width: 100%;
  /* margin: 10px; */
}

.info-drop-header-container {
  display: flex;
  align-items: center;
}

.info-drop-content-container {
  margin-top: 5px;
}

.info-drop-header {
  margin-left: 5px;
}

/* underline */
.sliding-underline {
  display: inline-block;
  cursor: pointer;
  width: 100%;
}

.sliding-underline:after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.sliding-underline.clicked:after {
  width: 100%;
  background: var(--mainColor);
}
/* underline */

.info-drop-arrow-down {
  transform: rotate(90deg);
  transition-duration: 0.5s;
}

.info-drop-arrow-normal {
  transition-duration: 0.5s;
}



/* -------------above-------------- Info Drop --------------above-------------------- */



/* -------------below------------- Gen Info --------------below-------------------- */

.genInfo-header {
  margin-bottom: 1%;
}

.genInfo-content {
  line-height: 150%;
}




/* -------------above-------------- Gen Info --------------above-------------------- */


/* -------------below-------------- Experience --------------below-------------------- */
.experience-container {
  margin: 50px;
}

.experience-mainInfo {
  width: 70vw;
}

.experience-genInfo {
  padding: 20px;
}

/* -------------above-------------- Experience --------------above-------------------- */










/* -------------below--------------  Pages --------------below-------------------- */


/* -------------below-------------- Home Page --------------below-------------------- */
.homepage-navbar {
position: absolute;
  top: 0px;
}

.homepage-header {
  border: 1px solid black;
  height: 100px;
  background-image: url('/home/mguidera/FreedomChurchReact/freedomChurch/src/images/freedomChurchHomepage.jpeg');
  background-size: cover;
  background-position: center bottom;

  @media screen and (max-width: 768px) {
      display: none;
  }
}



/* -------------above--------------  Home Page --------------above-------------------- */
